@use "variables" as *;

.hero {
    color: white;
    display: flex;
}

.hero--img-container {
    height: 800px;
    width: 60%;
    border-bottom: 1px solid $white;
    
    font-family: $wonder;
    font-size: 2em;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    background-image: url('/assets/imgs/imgs/hero-dj.png');

    background-size: cover;
    background-position: center;
}

.hero--next-gigs {
    width: 40%;
    font-family: $main-font;
    background-color: $dark-blue;
    border-bottom: 1px solid $white;
    padding: 0px 40px;
    text-align: left;
    font-size: 2.5em;
}

.text__blur {
    backdrop-filter: blur(20px);
    // border-radius: 99px;
    padding: 5px 100px;
    width: 100%;
    text-align: center;
}

.hero--next-gigs h2 {
    margin-top: 40px;
}

.hero--next-gigs__gigs-container {
    padding-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}   

.gig {
    font-size: .5em;
}

.gig:first-child{
    font-weight:600;
    color: $light-blue;
}

