$black: #050505;
$dark-blue: #0b1320;
$blue: #1f4fff;
$light-blue: #5aa9ff;
$card-bg: #1f2225;
$hover-blue: #0a2847;
$cyan: #8be9ff;
$white: #ffffff;
// $hred: lightcoral;

//FUENTES
$main-font: "FirstBunny", sans-serif;
$wonder: "Wonder", sans-serif;