@font-face {
  font-family: "FirstBunny";
  src: url("../../fonts/First Bunny.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Wonder";
  src: url("/assets/fonts/cashmarket/CashMarket-BoldRounded.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
main {
  color: #ffffff;
}

.main__button--container--container {
  display: flex;
  justify-content: center;
}

.main__button--container--container .btn-contratar {
  padding: 15px 30px;
  border-radius: 99px;
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  font-family: "Wonder", sans-serif;
  cursor: pointer;
  transition: 0.5s;
}
.main__button--container--container .btn-contratar:hover {
  background-color: #5aa9ff;
}
.main__button--container--container .btn-contratar {
  padding: 15px 150px;
  margin-top: 50px;
}

.main__releases {
  margin-top: 50px;
  font-size: 1.5em;
  font-family: "Wonder", sans-serif;
  text-align: center;
}

.main__releases--container {
  padding: 20px;
  display: flex;
  justify-content: space-around;
}

.main__releases--card {
  background-color: #1f2225;
  width: 20%;
  padding: 10px;
  transition: 0.5s;
  cursor: pointer;
}
.main__releases--card:hover {
  background-color: #0a2847;
}
.main__releases--card {
  display: flex;
  flex-direction: column;
}

.main__releases--card--img-container {
  width: 100%;
}

.main__releases--card--img-container img {
  width: 100%;
}

.main__releases--card--text-container {
  text-align: left;
  display: flex;
  flex-direction: column;
  flex: 1;
  font-size: 1.3em;
  gap: 50px;
}

.main__releases--card--text-container-tracks {
  font-family: "FirstBunny", sans-serif;
  font-weight: 300;
  font-size: 0.6em;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.main__releases--card--text-container-tracks-version {
  font-weight: 600;
}

.main__about {
  color: #ffffff;
  font-family: "FirstBunny", sans-serif;
  display: none;
}

header {
  background-color: #050505;
  border-bottom: 1px solid #ffffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 30px;
}
header .header__left-container {
  display: flex;
  align-items: center;
}
header img {
  width: 200px;
  padding-left: 30px;
  cursor: pointer;
}
header nav {
  color: #ffffff;
  padding-left: 30px;
}
header ul {
  display: flex;
  gap: 50px;
}
header li {
  list-style: none;
  font-size: 1.3em;
  font-family: "FirstBunny", sans-serif;
  cursor: pointer;
  transition: 0.5s;
}
header li:hover {
  color: #5aa9ff;
}
header .btn-contratar {
  padding: 15px 30px;
  border-radius: 99px;
  text-align: center;
  font-size: 1.3em;
  font-weight: 600;
  font-family: "Wonder", sans-serif;
  cursor: pointer;
  transition: 0.5s;
}
header .btn-contratar:hover {
  background-color: #5aa9ff;
}

.hero {
  color: white;
  display: flex;
}

.hero--img-container {
  height: 800px;
  width: 60%;
  border-bottom: 1px solid #ffffff;
  font-family: "Wonder", sans-serif;
  font-size: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("/assets/imgs/imgs/hero-dj.png");
  background-size: cover;
  background-position: center;
}

.hero--next-gigs {
  width: 40%;
  font-family: "FirstBunny", sans-serif;
  background-color: #0b1320;
  border-bottom: 1px solid #ffffff;
  padding: 0px 40px;
  text-align: left;
  font-size: 2.5em;
}

.text__blur {
  backdrop-filter: blur(20px);
  padding: 5px 100px;
  width: 100%;
  text-align: center;
}

.hero--next-gigs h2 {
  margin-top: 40px;
}

.hero--next-gigs__gigs-container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.gig {
  font-size: 0.5em;
}

.gig:first-child {
  font-weight: 600;
  color: #5aa9ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #050505;
}

/*# sourceMappingURL=main-styles.css.map */
